ErrorDocument 404 /404.html

<IfModule mod_expires.c>
  ExpiresActive On 
  
  AddType application/font-woff   .woff
  AddType application/font-woff2  .woff2

  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/svg "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/js "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"

  ExpiresByType font/woff  "access plus 1 year"
  ExpiresByType application/font-woff  "access plus 1 year"
  ExpiresByType application/x-font-woff  "access plus 1 year"
  ExpiresByType font/woff2  "access plus 1 year"
  ExpiresByType application/font-woff2  "access plus 1 year"
  ExpiresByType application/x-font-woff2  "access plus 1 year"
</IfModule>

RedirectPermanent /2-4-66-release/ /actualites/2025-02-04-apache-http-server-2-4-66-released/
RedirectPermanent /osuny/ https://www.osuny.org
